@charset "UTF-8";
*{ 
    /* height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #F2AE30, #F2C12E);
    background-attachment: fixed;
}
main{ 
    background-color: white;
    border-radius: 20px; /*Arredonda as bordas*/
    box-shadow: 5px 5px 15px #c48d27d1;
    width: 600px;
    padding: 15px; /*acolchoamento*/
    margin: auto; /*automaticamente ajusta as margens do navegador*/
}
h1 { 
    color: #A64F03;
    text-align: center;
    text-shadow: 10px 10x 2px #a64f039b;
}

h2 {
    color: #024959;
}
p{ 
    text-align: justify;
}